body {
  padding: 0;
  margin: 0;
  font-family: "Inter" sans-serif;
  background-color: #E4E9F7;
}


.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #11101D;
  color: #fff;
  width: 260px;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.sidebar header {
  text-align: left;
  font-size: 16px;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.container .sidebar h2{
  margin-left: 10px;
}

.nav-list li {
  padding: 10px 20px;
  display: flex;
  height: 38px;
  align-items: center;
}

.nav-list li a {
  color: #fff;
  font-weight: bold;
  height: 80%;
  width: 80%;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list li a:hover {
  background-color: #fff;
  color: #11101D;
  transition: 0.3s;
  border-radius: 12px;
  font-weight: bold;
  
}

.nav-list li a i {
  font-size: 20px;
  
}

.sidebar-footer {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#createAccount {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 18%;
  width: 100%;
  
  min-height: 100vh; /* Full viewport height */
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 900px; /* Double the form width */
  min-height: 100vh; /* Full height for the form */
  overflow-y: auto;
}

h1 {
  text-align: center;
  color: #11101D;
  text-transform: uppercase;
  margin-bottom: 40px;
}

label {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #11101D;
  width: 150px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="email"],
textarea {
  width: calc(100% - 160px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 30px;
}

.radio-group label {
  margin-left: 5px;
  margin-right: 15px;
  padding-bottom: 8px;
  font-weight: normal;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #11101D;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

#createAccount button {
  background-color: #11101D;
  color: #ffffff;
  width: 45%;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: bold;
}

button:hover {
  background-color: #f2f2f2;
}

#createAccount button:hover {
  background-color: #22203a;
  font-weight: bold;
}

#income {
  height: 35px;
  width: calc(100% - 160px);
  border-radius: 8px;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#address{
  resize: none;
}




.deposit-form-wrapper {
  width: 500px; 
  margin: 0 auto;
  margin-top: 60px;
  margin-left: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  color: #11101D;
}

.deposit-form-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #11101D;
}

.deposit-form-wrapper .form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.deposit-form-wrapper .button-group {
  text-align: right; 
  margin-bottom: 15px;
}

.deposit-form-wrapper label {
  width: 30%;
  padding: 5px;
}

.deposit-form-wrapper input {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.deposit-form-wrapper input[readonly] {
  background-color: #e9e9e9;
}

.deposit-form-wrapper .find-btn, .deposit-form-wrapper .deposit-btn, .deposit-form-wrapper .reset-btn{
  padding: 10px;
  margin-top: 10px;
  background-color: #11101D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deposit-form-wrapper .find-btn {
  width: 170px; 
}

.deposit-form-wrapper .deposit-btn {
  width: 100%;
}
.deposit-form-wrapper button:hover {
  background-color: #333;
}

.deposit-form-wrapper .button-group {
  display: flex; 
  justify-content: flex-end; 
  margin-bottom: 15px;
}

.deposit-form-wrapper .button-group button {
  margin-left: 10px;
}
.withdraw-container {
  background-color: #ffffff;
  color: #11101D;
  width: 600px;
  margin: 50px 50%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
}

.withdraw-container h1 {
  text-align: center; /* Title centered */
}

.withdrawalFormBox {
  margin: 0 auto;
  width: 100%;
}

.withdrawalLabel {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}


.btnFindWithdraw {
  background-color: #11101D;
  color: #ffffff;
  border: none;
  width: 180px;
  margin: 10px;
  margin-left: 410px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px; 
}

.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px; 
  margin-top: 20px;
}

/* Style for the Withdraw button */
.btnSubmitWithdraw, .reset-btn {
  background-color: #11101D;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

/* Style for buttons when hovered */
button:hover {
  background-color: #333;
}

.date-time {
  margin-bottom: 20px;
}

input[readonly], input[disabled] {
  background-color: #e9ecef;
  cursor: not-allowed;
}


/* Container Styling */
.transfer-container {
  background-color: #ffffff;
  color: #11101D;
  width: 650px;
  margin: 50px 45%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Box shadow */
  border-radius: 10px; /* Rounded corners */
}

/* Title */
.transfer-container h1 {
  text-align: center; /* Title centered */
}
.transfer-container h3 {
  text-align: center; /* Subtitle centered */
}

/* Form box styling */
.transfer-container .transfer-formBox {
  margin: 0 auto;
  width: 100%;
}

/* Label and Input */
.transfer-container .transferLabel {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}

.transfer-container .transferInput {
  width: calc(100% - 160px); /* Input width to fit alongside labels */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
  box-sizing: border-box;
}

/* Button Styling */
.transfer-container .transferSubmitButton {
  background-color: #11101D;
  color: #ffffff;
  border: none;
  height: 38.4px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}


.transfer-container .transferResetButton{
  background-color: #11101D;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}


/* Button alignment */
.transfer-container .transfer-buttonContainer {
  text-align: right; /* Align buttons to the right */
  margin: 10px;
  display: flex;
  gap: 15px;
}

.transfer-container .transferFindBtn1,
.transfer-container .transferFindBtn {
  margin: 10px;
  background-color: #11101D;
  color: whitesmoke;
  margin-left: 73%;
  width: 170px;
}

/* Read-only/Disabled Fields */
.transfer-container input[readonly],
.transfer-container input[disabled] {
  background-color: #e9ecef;
  cursor: not-allowed;
}

/* Hover effect for buttons */
.transfer-container button:hover {
  background-color: #333;
  font-weight: bold;
}





.ViewContainer {
  background-color: #ffffff;
  color: #11101D;
  width: 900px; /* Increased width */
  margin: 50px 16%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Box shadow */
  border-radius: 10px; /* Rounded corners */
}

/* Title */
.ViewContainer h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* Form box styling */
.ViewContainer .ViewFormBox {
  margin: 20px 0;
  width: 100%;
  align-items: center;
  
}

/* Label and Input */
.ViewContainer .ViewLabel {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
  font-size: 16px;
}



/* Button Styling */
.ViewContainer .ViewSubmitButton,
.ViewContainer .ViewFindButton,.ViewContainer .ViewResetButton {
  background-color: #11101D;
  color: #ffffff;
  border: none;
  height: 38.4px;
  width: 170px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  
}
.ViewContainer .ViewFindButton{
  margin-top: 10px;
  margin-left: 80%;  
}

.ViewContainer .buttonContainer {
  text-align: right; /* Align buttons to the right */
  margin: 10px;
  display: flex;
  gap: 15px;
  margin-left: 80%;
}

/* Print Button Styling */
.ViewContainer button:hover {
  background-color: #2c2948;
  color: #ffffff;
}

/* Table Styling */
.ViewContainer table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ViewContainer th, .ViewContainer td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.ViewContainer th {
  background-color: #f0f0f0;
}

@media print {
  body * {
      visibility: hidden; 
  }

  .ViewContainer, .ViewContainer * {
      visibility: visible; 
  }

  .ViewContainer {
      position: absolute;
      top: 0; 
      left: 0; 
      right: 0; 
      margin: auto;
      width: 800px; 
      box-shadow: none;
      
  }

  .ViewContainer .ViewSubmitButton, .ViewContainer .ViewFindButton, .ViewContainer .ViewResetButton {
      display: none; 
  }


  @page {
      margin: 10px;
  }
}





.ConstoContainer {
  background-color: #ffffff;
  color: #11101D;
  width: 1180px;
  margin: 50px 1%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
}

/* Title */
.ConstoContainer h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* Form box styling */
.ConstoContainer .ConstoFormBox {
  margin: 20px 0;
  width: 100%;
  align-items: center;
}

/* Label and Input */
.ConstoContainer .ConstoLabel {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Button Styling */

.ConstoContainer .ConstoFindButton,
.ConstoContainer .DeactivateButton {
  background-color: #11101D;
  color: #ffffff;
  border: none;
  height: 38.4px;
  width: 170px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 85%;
}

.ConstoContainer .ConstoFindButton {
  margin-top: 10px;
 
}



/* Print Button Styling */
.ConstoContainer button:hover {
  background-color: #2c2948;
  color: #ffffff;
}

/* Table Styling */
.ConstoContainer table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ConstoContainer th, .ConstoContainer td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.ConstoContainer th {
  background-color: #f0f0f0;
}



#update {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 18%;
  width: 100%;
  min-height: 100vh; 
}

.updatecontainer {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 900px; 
  min-height: 100vh; 
  overflow-y: auto;
}

.updatecontainer h1 {
  text-align: center;
  color: #11101D;
  text-transform: uppercase;
  margin-bottom: 40px;
}

#update label {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #11101D;
  width: 150px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="email"],
textarea,
select {
  width: calc(100% - 160px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

#update button {
  padding: 10px;
  color: #ffffff;
  background-color: #11101D;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#update .button-container button[type="submit"], button[type="reset"] {
  width: 50%;
}
#update .button-container {
  display: flex;
  gap: 50px;
  align-items: center;
}

#update .find-button {
  margin-left: 80%;
  max-width: 175px;
  
  background-color: #11101D; 
}

#update button:hover {
  background-color: #22203a; 
}

.loggo {
  text-align: center;
  margin-top: 20px;
}

.loggo h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 1000;
  margin-bottom: 130px;
  margin-top: -8px;
  
}

.loggo img {
  height: 160px;
  filter: drop-shadow(5px 5px  5px #322a8b);

}

.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  
}
.container1 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow-y: auto;
  margin-left: 20px;
  height: 350px;
  width: 340px;
  text-align: center;
}

.container2 {
  background-color: #FFFFFF;
  text-align: center;
  margin-left: 40px;
  height: 350px;
  width: 340px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow-y: auto;
}

.container3 {
  margin-left: 40px;
  background-color: #FFFFFF;
  height: 350px;
  width: 340px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow-y: auto;
  text-align: center;
}
.container1 ul{
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
  
}
.container1 ul li{
  margin: 10px;
  
}
.container1 a{
  color: rgb(206, 49, 112);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  
}

.container2 ul{
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
}
.container3 ul{
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
}
.container3 ul li{
  margin: 10px;
  
}
.container2 ul li{
  margin: 10px;
  
}
.container2 a{
  font-size: 18px;
  color: rgb(206, 49, 112);
  font-weight: bold;
  text-decoration: none;
 
}
.container3 a{
  font-size: 18px;
  color: rgb(206, 49, 112);
  font-weight: bold;
  text-decoration: none;
 
}
#dashboard a:hover{
  color: blue;
}
#dashboard{
  margin-left: 40px;
}

#pan, #kycPanNumber{
  text-transform: uppercase;
}
#banklogo{
  height: 25px;
  width: auto;
  margin-left: -50px;
}
#logocont{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}